#title-1 {
    font-size: large;
    font-palette: dark;
    margin: 1em;
}

canvas {
    background-color: white;
    padding: 3em;
    margin: 1em;
    box-shadow: 0.6em 0.3em 0.3em #7c7c7c;
}

th {
    background-color: #412b48;
    color: white;
}

td {
    background-color: white;
}

td, th {
    /*border: 0.1em solid black;*/
    text-align: center;
    padding: 1em;
    box-shadow: 0.3em 0.2em 0.2em #7c7c7c;
}

.toCenter {
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 1em;
}

.row {
    padding: 0.3em;
    margin: 0.5em;
    align-content: center;
    overflow: auto;
}

body {
    background-color: #c7c7c7;
}