.spinner {
    width: 60px;
    height: 60px;
    margin: 60px;
    animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

@keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
@keyframes background {
    0% {
        background-color: #412b48;
    }
    50% {
        background-color: #7e7e7e;
    }
    100% {
        background-color: #d9d9d9;
    }
}

